/vendor
.env
.env.*
!.env.example
.wp-install
.wp-install.*
!.wp-install.example
/.idea
/.vscode
/.well-known
.htaccess
index.php

# Exclude WordPress core
/wp/*
!/wp/wp-config.php

# Include wp-content, then exclude each of the subdirectories
/content/*

## Themes: include the directory, exclude all subdirectories except those specified
!/content/themes/
/content/themes/*

## Plugins: include the directory, exclude all subdirectories except those specified
!/content/plugins/
/content/plugins/*
