/vendor
.env
.env.*
!.env.example
.wp-install
.wp-install.*
!.wp-install.example
/.idea
/.vscode
/.well-known

# Exclude WordPress core
index.php
/public/index.php
/public/wp/*
!/public/wp/wp-config.php

# Include wp-content, then exclude each of the subdirectories
/public/content/*

## Themes: include the directory, exclude all subdirectories except those specified
!/public/content/themes/
/public/content/themes/*

## Plugins: include the directory, exclude all subdirectories except those specified
!/public/content/plugins/
/public/content/plugins/*
